.navbar {
	width: 100%;
	position: relative;
	background-color: #FFF8F6;
}

.navbar .container {
	width: 100vw;
	left: 0px; 
	top: 0px; 
	position: absolute;
	background-color: #FFF8F6;

}

.navbar-brand {
	width: 117px; 
	left: 69px; 
	top: 18px; 
	position: absolute; 
	justify-content: flex-start; 
	align-items: center; 
	gap: 8px; 
	display: inline-flex;
}
.navbar-nav {
	margin-left: 130px;
}

a.nav-link { 
	color: #201A17; 
	font-size: 16px; 
	font-family: Inter; 
	font-weight: 600; 
	line-height: 26px; 
}

.form-control {
	border: none;
	background-color: #FFF8F6;
	text-align: center; 
	color: #2B160A; 
	font-size: 14px; 
	font-family: Inter; 
	font-weight: 400; 
	line-height: 20px; 
	font-style: italic;
	/* word-wrap: break-word; */
}

.input-group {
	width: 150px; 
	height: 35px; 
	padding-top: 4px; 
	padding-bottom: 4px; 
	padding-left: 21px; 
	padding-right: 141px; 
	margin-left: 220px;
	border-radius: 100px; 
	overflow: hidden; 
	border: 1px #85746B solid; 
	justify-content: flex-start; 
	align-items: center; 
	gap: 13px; 
	display: flex
}

#button-addon2, .form-control {
	margin: 0px;
	padding: 0px;
	top: 0px;
	left: 0px;
	width: 24px; 
	height: 24px;
}
#button-addon2 {
	position: relative; 
	flex-direction: column; 
	justify-content: flex-start; 
	align-items: flex-start; 
	display: flex
}
.nav-cart {
	width: 16px; 
	height: 16px; 
	padding-left: 4px; 
	padding-right: 4px; 
	left: 9.72px; 
	top: 0px;
	background: #201A17; 
	border-radius: 100px; 
	justify-content: center; 
	align-items: center; 
}

.custom-container-body {
	padding-left: 66.5px;
	padding-right: 66.5px;
}
.custom-collection {
	flex-direction: column; 
	justify-content: center; 
	align-items: flex-start; 
	gap: 10px; 
	display: inline-flex;
}
.custom-card-shadow {
	width: 310px; 
	gap: 12px; 
	display: inline-flex;
}
.card-image {
	width: 310px; 
	height: 310px; 
	position: relative
}
.card-background {
	width: 310px; height: 310px; left: 0px; top: 0px; position: absolute; background: rgba(108.11, 113.95, 116.88, 0.15)
}
.card-tag {
	width: 87px; height: 28px; 
	background: #9B4600; 
	border-radius: 100px; overflow: hidden; 
	flex-direction: column; justify-content: 
	flex-start; align-items: flex-start; 
	gap: 12px; display: inline-flex;
	margin-left: 5px;
}
.tag-content {
	text-align: center; color: white; 
	font-size: 12px; font-family: Inter; font-weight: 700; 
	text-transform: uppercase; line-height: 12px; word-wrap: break-word;
}
.card-name {
	flex-direction: column; justify-content: flex-start; 
	align-items: flex-start; gap: 7px; display: flex;
	padding-left: 5px;
}
.name {
	width: 310px; height: 17px; color: #201A17; font-size: 20px; font-family: Inter; font-weight: 700; line-height: 28px; word-wrap: break-word
}
.comment {
	color: #201A17; font-size: 12px; font-family: Inter; 
	font-weight: 400; line-height: 20px; word-wrap: break-word;
	padding-left: 10px;
}
.aboutus {
	margin-top: 30px; justify-content: flex-start; 
	align-items: center; gap: 10px; display: inline-flex;
	position: relative;
}
.background-aboutus {
	height: 776px; flex-direction: column; justify-content: center; 
	align-items: center; gap: 10px; display: inline-flex;
	position: absolute;
}
.background-aboutus::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1; /* Đảm bảo lớp pseudo nằm trên hình ảnh */
  }
.custom-text-muted {
	color: #362F2C; 
	font-size: 16px; 
	font-family: Inter; 
	font-weight: 400; 
	line-height: 26px; 
	word-wrap: break-word
}






