.navbar {
	width: 100%;
	position: relative;
	background-color: #FFF8F6;
}

.navbar .container {
	width: 100vw;
	left: 0px; 
	top: 0px; 
	position: absolute;
	background-color: #FFF8F6;

}

.navbar-brand {
	width: 117px; 
	left: 69px; 
	top: 18px; 
	position: absolute; 
	justify-content: flex-start; 
	align-items: center; 
	gap: 8px; 
	display: inline-flex;
}
.navbar-nav {
	margin-left: 130px;
}

a.nav-link { 
	color: #201A17; 
	font-size: 16px; 
	font-family: Inter; 
	font-weight: 600; 
	line-height: 26px; 
}

.form-control {
	border: none;
	background-color: #FFF8F6;
	text-align: center; 
	color: #2B160A; 
	font-size: 14px; 
	font-family: Inter; 
	font-weight: 400; 
	line-height: 20px; 
	font-style: italic;
	/* word-wrap: break-word; */
}

.input-group {
	width: 150px; 
	height: 35px; 
	padding-top: 4px; 
	padding-bottom: 4px; 
	padding-left: 21px; 
	padding-right: 141px; 
	margin-left: 220px;
	border-radius: 100px; 
	overflow: hidden; 
	border: 1px #85746B solid; 
	justify-content: flex-start; 
	align-items: center; 
	gap: 13px; 
	display: flex
}

#button-addon2, .form-control {
	margin: 0px;
	padding: 0px;
	top: 0px;
	left: 0px;
	width: 24px; 
	height: 24px;
}
#button-addon2 {
	position: relative; 
	flex-direction: column; 
	justify-content: flex-start; 
	align-items: flex-start; 
	display: flex
}
.nav-cart {
	width: 16px; 
	height: 16px; 
	padding-left: 4px; 
	padding-right: 4px; 
	left: 9.72px; 
	top: 0px;
	background: #201A17; 
	border-radius: 100px; 
	justify-content: center; 
	align-items: center; 
}
.custom-container-body {
	margin-left: 66.5px;
	margin-right: 66.5px;
}








